In [1]:
# Dependencies and Setup

import pandas as pd
import numpy as np

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"", regex=True)

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.

import numpy as np

#import os

In [3]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores
#from the 9th grade at Thomas High School and replace them with NaN.

condition_THS= (student_data_df["school_name"]=='Thomas High School')
condition_9th= (student_data_df["grade"]=='9th')

student_data_df.loc[condition_THS & condition_9th,'reading_score'] = np.NaN

In [4]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
condition_THS= (student_data_df["school_name"]=='Thomas High School')
condition_9th= (student_data_df["grade"]=='9th')

student_data_df.loc[condition_THS & condition_9th,'math_score'] = np.NaN

In [5]:
#  Step 4. Check the student data for NaN's. 
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0


## Deliverable 2: Repeat the school district analysis
### District Summary

In [6]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df,school_data_df, how= "left", on= ["school_name", "school_name"])
school_data_complete_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [7]:
# Calculate the Totals (Schools and Students)
total_student_number = school_data_complete_df["student_name"].count()
total_student_number

39170

In [8]:
total_school = school_data_df["school_name"].count()
total_school

15

In [9]:
# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [10]:
# Calculate the Average Scores using the "clean_student_data".

average_math_score = school_data_complete_df["math_score"].mean()

average_math_score

78.93053295099331

In [11]:
# Calculate the Average Scores using the "clean_student_data".

average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.85579580976001

In [12]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 

condition_THS2 = (school_data_complete_df['school_name']=='Thomas High School')
condition_9th_2 = (school_data_complete_df['grade']=='9th')

student_count_9th2_THS2 = school_data_complete_df.loc[condition_THS2 & condition_9th_2]["school_name"].count()

In [13]:
# Get the total student count 
total_student_count = school_data_complete_df["school_name"].count()
print(total_student_count)

# Step 2. Subtract the number of students that are in ninth grade at                                      
# Thomas High School from the total student count to get the new total student count.
new_student_count = total_student_count - student_count_9th2_THS2
print(new_student_count)

39170
38709

In [14]:
# Calculate the passing rates using the "clean_student_data".
#condition_THS = (school_data_complete_df['school_name']=='Thomas High School')
passing_math_rate = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_rate.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90.0,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72.0,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [15]:
#calculating passing rate using for "clean_student_data"

passing_reading_rate = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_rate.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [16]:
#Step 3. Calculate the passing percentages with the new total student count.
#total_student_number_new = total_student_count.count() * 100
#total_student_number_new

In [17]:
# Calculate the students who passed both reading and math.

passing_reading_rate_count = passing_reading_rate["student_name"].count()
                                        
passing_reading_rate_count

33158

In [18]:
passing_math_rate_count = passing_math_rate["student_name"].count()
passing_math_rate_count

28939

In [19]:
# Step 4a.Calculate the overall passing percentage with new students
passing_math_percentage = (passing_math_rate_count /float (new_student_count)) * 100

passing_math_percentage

74.76039164018704

In [20]:
# Step 4b.Calculate the overall passing percentage with new students
passing_reading_percentage = (passing_reading_rate_count /float (new_student_count)) * 100

passing_reading_percentage

85.6596657108166

In [21]:
# Step 4c.Calculate the overall passing percentage with new students
overall_passing_df = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

overall_passing_student_count = overall_passing_df["student_name"].count() 
overall_passing_percentage = (overall_passing_student_count /float (new_student_count)) * 100
overall_passing_percentage

64.85571830840374

In [22]:
# Create a DataFrame
district_summary_df = pd.DataFrame({"Total Schools":[total_school],
          "Total Students":[total_student_count],                     
          "Total Budget":[total_budget],
          "Average Math Score":[average_math_score],
          "Average Reading Score":[average_reading_score],
          "% Passing Math":[passing_math_percentage],
          "% Passing Reading":[passing_reading_percentage],
          "% Overall Passing":[overall_passing_percentage]
                                   })

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)


# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,74.8,85.7,64.9

In [23]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]
 
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()
 
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]

# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
 
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
 
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
 
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
 
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
 
# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]
 
# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
 
# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [24]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})
 
# per_school_summary_df.head()

In [25]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
 
# Display the data frame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,66.911315,69.663609,65.076453
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## School Summary

In [26]:
# Step 5. Get the number of 10th - 12th graders from Thomas High School 
THS2_10_12_graders = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School")
                                    & ((student_data_df["grade"] == "10th") | (student_data_df["grade"] == "11th") | (student_data_df["grade"] == "12th"))]["grade"].count()
THS2_10_12_graders

1174

In [27]:
# Step 6. Get all the students passing math from THS
THS2_students_passing_math_df = student_data_df.loc[(student_data_df["math_score"] >= 70)
                                          & (student_data_df["school_name"] == "Thomas High School") 
                                          & ((student_data_df["grade"] == "10th") | (student_data_df["grade"] == "11th") | (student_data_df["grade"] == "12th"))].count()

    
#THS2_students_passing_math.df

In [28]:
# Step 7. Get all the students passing reading from THS
THS2_passing_reading_df = student_data_df.loc[(student_data_df["reading_score"] >= 70) 
                                             & (student_data_df["school_name"] == "Thomas High School")
                                             & ((student_data_df["grade"] == "10th") | (student_data_df["grade"] == "11th") | (student_data_df["grade"] == "12th"))].count()
THS2_passing_reading_df

Student ID       1139
student_name     1139
gender           1139
grade            1139
school_name      1139
reading_score    1139
math_score       1139
dtype: int64

In [2]:
# Step 8. Get all the students passing math and reading from THS2

THS2_students_pass_math_reading_df = THS2_students_df[(THS2_students_df["math_score"]>=70) & (THS2_students_df["reading_score"]>=70)]

NameError: name 'THS2_students_df' is not defined

In [3]:
THS2_students_passing_math_count = ths_students_passing_math_df["student_name"].count()
THS2_students_passing_reading_count = THS_2_students_passing_math_df["student_name"].count()

NameError: name 'ths_students_passing_math_df' is not defined

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 

per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
#Get all the students passing math from THS
THS_passing_math_df = THS_students_df.loc[ths_students_df["math_scores"]>= 70]

In [ ]:
#combine each grade level series for math schools by school into a single DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade _math_score,

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
condition_THS2 = (school_data_complete_df['school_name']=='Thomas High School')
condition_10th = (school_data_complete_df['grade']=='10th')
condition_11th = (school_data_complete_df['grade']=='11th')
condition_12th = (school_data_complete_df['grade']=='12th')

In [ ]:
math_scores_by_grade

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
condition_THS2 = (school_data_complete_df['school_name']=='Thomas High School')
condition_10th = (school_data_complete_df['grade']=='10th')
condition_11th = (school_data_complete_df['grade']=='11th')
condition_12th = (school_data_complete_df['grade']=='12th')

pecentage_of_students_10th_11th_12th = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df
name = % Passing Math
name.replace(% Passing Math:passing_math_percentage)
per_school_summary_df.

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
name = % Passing Reading
name.replace(% Passing Reading:passing_reading_percentage)
per_school_summary_df

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
name = % Overall Passing
name.replace(% Overall Passing:overall_passing_percentage)
per_school_summary_df.

In [ ]:
# per_school_summary_df

## High and Low Performing Schools

In [32]:
# Sort and show top five schools.
#top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False).head(5)

# Sort and show top five schools.
top_5 = per_school_summary_df.sort_values(by ='overall_passing_percentage', ascending=True).head(5).reset_index(drop=True)
top_5

KeyError: 'overall_passing_percentage'

In [ ]:
# Sort and show bottom five schools.
bot_5 = school_summary_df.sort_values('by = % Overall_Passing', ascending=True).head(5).reset_index(drop=True)
bot_5

## Math and Reading Scores by Grade

In [ ]:
# Create a Series of scores by grade levels using conditionals.

grade 9 = average_reading_by_grade('9th')
grade 10 = average_reading_by_grade('10th')
grade 11 = average_reading_by_grade('11th')
grade 12 = average_reading_by_grade('12th')

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelth_grade_math_scores = twelth_graders.groupby(["school_name"]).mean()["math_score"]

# Group each school Series by the school name for the average math score.

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelth_grade_math_scores = twelth_graders.groupby(["school_name"]).mean()["math_score"]


# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelth_grade_reading_scores = twelth_graders.groupby(["school_name"]).mean()["reading_score"]

# Display the data frame

In [37]:
grade_9 = average_reading_by_grade('9th')
grade_10 = average_reading_by_grade('10th')
grade_11 = average_reading_by_grade('11th')
grade_12 = average_reading_by_grade('12th')
average_reading_score_grade = pd.merge(grade_9_grade,10,how = 'inner',sufffizes(",")
average_reading_score_grade = pd.merge(average_reading_score_grade,grade_11,how = 'inner',sufffixes(",")
average_reading_score_grade = pd.merge(average_reading_score_grade,grade_12,how = 'inner',sufffixes(",")
average_reading_score_grade

SyntaxError: positional argument follows keyword argument (3264235851.py, line 6)

In [ ]:
grade_9 = average_math_by_grade('9th')
grade_10 = average_math_by_grade('10th')
grade_11 = average_math_by_grade('11th')
grade_12 = average_math_by_grade('12th')
average_math_score_grade = pd.merge(grade_9_grade,10,how = 'inner',sufffizes(",")
average_math_score_grade = pd.merge(average_math_score_grade,grade_11,how = 'inner',sufffixes(",")
average_math_score_grade = pd.merge(average_math_score_grade,grade_12,how = 'inner',sufffixes(",")
average_math_score_grade

In [ ]:
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]
print(ninth_graders)

In [ ]:
# Combine each Series for average math scores by school into single data frame.
math_score_by_grade = pd.DataFrame({
      "9th": ninth_grade_math_scores
     "10th":tenth_grade_math_scores
     "11th":eleventh_grade_math_scores
     "12th":twelth_grade_math_scores})

math_scores_by_grade.head()

In [ ]:
# Combine each Series for average reading scores by school into single data frame.
     "9th"; ninth_grade_reading_scores
    "10th"; tenth_grade_ reading_scores
    "11th"; eleventh_grade_reading_scores
    "12th"; twelth_grade_reading_scores})

reading_scores_by_grade.head()

In [ ]:
# Format each grade column.

math_scores_by_grade["9th"] = math_score_by_grade['9th'].map("{:.1f}.format)

math_scores_by_grade["10th"] = math_score_by_grade['10th'].map("{:.1f}.format)

math_scores_by_grade["11th"] = math_score_by_grade['11th'].map("{:.1f}.format)
                                                             
math_scores_by_grade["12th"] = math_score_by_grade['12th'].map("{:.1f}.format)

#Make sure columns are correct 
math_scores_by_grade.index.name = NONE
                                                               
#display the dataframe
                                                               
math_score_by_grade.head()

In [ ]:
#Format each grade column.
reading_scores_by_grade["9th"] = math_score_by_grade['9th'].map("{:.1f}.format)

reading_scores_by_grade["10th"] = math_score_by_grade['10th'].map("{:.1f}.format)

reading_scores_by_grade["11th"] = math_score_by_grade['11th'].map("{:.1f}.format)
                                                             
reading_scores_by_grade["12th"] = math_score_by_grade['12th'].map("{:.1f}.format)

#Make sure columns are correct 
reading_scores_by_grade.index.name = NONE
                                                               
#display the dataframe
                                                               
reading_score_by_grade.head()

## Scores by School Spending

In [39]:
# Establish the spending bins and group names.
spending_bins = [0,585,615,645,625]
group_names = ["<586","$586-630","$631-645","$645-675"]
              
pd.cut(per_school_capita,spending_bins)

# Categorize spending based on the bins.
pending_bins = [0,585,615,645,625]
per_school_capita.groupby(pd.cut(per_school_capita,sepnding_binds)).count()

speding_based_bins =school_summary_df.(["Spending Ranges (Per Student"] = pd.cut(per_school_capital,spending_bins, labels=group_names)
per_school_summary_df

SyntaxError: invalid syntax (4133537809.py, line 11)

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Create the DataFrame

In [ ]:
# Format the DataFrame

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0,999,1999,5000]

group_name = ["Small (<1000)", "Medium(1000-1999)","Large(2000-5000)"]

#spending_bins = [0,585,630,645,675]

#group_names = ["<586","$586-630,"$631-645","$645-675"]
              
#pd.cut(per_school_capita,spending_bins)

# Categorize spending based on the bins.
per_school_summary_df["School Size"] - pd.cut (per_school_summary_df["Total Studnets"],size binds, labels=group_names)

per_school_summary.df.head()

In [ ]:
# Calculate averages for the desired columns. 
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()["Average Reading Score"]

spending_passing_math_scores = per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 
spending_summary_df = pd.DateFrame({
    "Average Math Score" : spending_math_scores,
    "Average Reading Score" : spending_reading_scores,
    "% Passing Math" :spending_passing_math,
    "% Passing Reading" : spending_passing_reading,
    "% PVerall Passing" : overal_ passing_spending})
spending_summary_df

In [ ]:
# Format the DataFrame  

spending _summary_df["Average Math Score"] = spending_summary_df{"Average Math Score"].map("{:.1F}.format
                                                                                                                                                    
                                                        
spending _summary_df["Average Reading Score"] = spending_summary_df{"Average Reading Score"].map("{:.1F}.format
                                                                                                
spending _summary_df["% Passing Math"] = spending_summary_df{"% Passing Math"].map("{:.1F}.format 
     
spending _summary_df["% Passing Reading"] = spending_summary_df{"% Passing Reading"].map("{:.1F}.format 
                                                                                                                                                                                                                               
                                                                                   
spending _summary_df["% Overall Passing"] = spending_summary_df{"% Overall Passing"].map("{:.1F}.format
                                                                                         
spending_summary_df

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# # Format the DataFrame